<nav class="bottom-nav d-md-none d-flex justify-content-around align-items-center" aria-label="Yönetici menüsü">
  @for (item of navItems; track item.path) {
    <a
      class="bottom-nav__link d-flex flex-column align-items-center justify-content-center"
      [routerLink]="item.path"
      routerLinkActive="bottom-nav__link--active"
      [attr.aria-label]="item.label"
    >
      <span class="material-symbols-outlined" aria-hidden="true">{{ item.icon }}</span>
      <span class="bottom-nav__label">{{ item.label }}</span>
    </a>
  }
</nav>
